body{
    margin: auto;
    padding: auto;
}
#background{
    height: 100%;
    width: 100%;
    position: absolute;
    color: rgb(14, 204, 87);
    border: 1px;
}
img{
 
   object-fit: contain;
}
#img{
    height: 0 auto;
    width: 0 auto;

}
#title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-image: url("https://cyberisland.teldap.tw/S/qAttzESSjwpXouNeYjSFtNlySqj");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    size: 200px;
    /* text-align: center; */
    height: 100px;
    line-height: 100%;
}
.container{
    margin: 100px;
    width: 100px;
    border: 2px;
    border-radius: 20;
}

.text{
    font-size: 20px;
}

button{
border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: fill;
}